<!doctype html>
<html>
  <head>
    <title> <=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>List <%=shopName%></h1>
    <p>List of books</p>
    <ul>
      <% availableBooks.forEach(function(book){ %>
        <li><%= book.name %>- <%= book.price %></li>
      <% }); %>
    
    </ul>
  </body>
</html>